ul { list-style:none; padding:0px; margin:0px; }
ul li { border-bottom:1px solid #eee; }
.search_result img { width:50px; vertical-align:middle; }

#bookmarklet_code { border:1px solid blue; background-color:lightblue; padding:4px; text-decoration:none; }
#bookmarklet th { vertical-align:top; }
td { border-bottom:thin solid #fff; }
#bmheader { width:100%; float:left; }
#bmchrome { background-color:#E5ECF9; border-top:1px solid #36C; font-weight:bold; margin:0 0 10px; padding-left:5px; }
.mp_busy img { display:inline; }
.loading { display:none; }

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.buttons-section { width:150px; }

input[type="radio"], input[type="checkbox"] { padding:3px; margin:4px; }
body { min-width:600px; padding:10px; }